@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('./assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype'),
  } */
}

/* body {
  font-family: 'Nunito', sans-serif;
} */

.bg-grid {
  position: relative;
  background: rgba(169, 169, 169, 0.3);
  background-size: 100%;
  z-index: 1; 
}

.bg-grid::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: 
    linear-gradient(to right, rgba(186, 155, 190, 0.3) 1px, transparent 1px), 
    linear-gradient(to bottom, rgba(186, 155, 190, 0.3) 1px, transparent 1px), 
    linear-gradient(to bottom right, #fdfdfc, #fff3e6);
  background-size: 20px 20px, 20px 20px, 100% 100%;
  opacity: 0.4; 
}
